# Utils
requests
aiohttp
captcha_solver
python-dateutil

# Geo stuff
geopy

# XML parsing
xmltodict
defusedxml

# Drawing
Pillow

# QR code
qrcode

# Data and bases
peewee==2.10.2
peewee_async
aiomysql
psycopg2-binary
aiopg
tinydb

# Language pluings
gTTS
transliterate
langdetect
