hues  # Логгирование с указанием времени и цвета

aiohttp # Асинхронные HTTP запросы
aiosocks # Требуется для aiovk
peewee # Запросы к БД
peewee_async # Асинхронные запросы к БД

captcha_solver  # Решение Captcha

langdetect  # Определение языка в плагине озвучивания текста
gTTS  # Озвучивание текста через Google TTS

Pillow  # Работа с изображениями

xmltodict  # Работа с XML