# access token группы (должны быть как минимум права на сообщения)
vk_access_token = "token"
# ID вашего приложения ВК. -1 для использования стандартного app_id из vk_api (2895443)
# Оставьте -1, если не знаете что это.
vk_app_id = -1
# Префиксы сообщений, на которые бот будет реагировать.
prefixes = ('lolbot', 'лолбот', 'лб', 'фб', 'файнбот', '!')
# Черный список пользователей (писать id аккаунтов вк через запятую)
blacklist = (0, 1337)