# access token группы (должны быть как минимум права на сообщения)
vk_access_token = "token"
# вместо acess_token группы можно предоставить логин и пароль от аккаунта ВК
vk_login = ''
vk_password = ''
# Префиксы сообщений, на которые бот будет реагировать.
prefixes = ('lolbot', 'лолбот', 'лб', 'фб', 'файнбот', '!')
# Черный список пользователей (писать id аккаунтов вк через запятую)
blacklist = (0, 1337)