# Access token группы (должны быть как минимум права на сообщения) или пользователя
TOKEN = ''
# вместо TOKEN можно предоставить логин и пароль от аккаунта ВК
LOGIN = ''
PASSWORD = ''
# нужно ли писать сообщения (не команды) в лог
# False - нет, True - да
NEED_LOG = False
# Префиксы сообщений, на которые бот будет реагировать.
PREFIXES = ('лолбот', 'лб', '!')
# Пытаться конвертировать сообщения в русскую раскладку, например:
# ghbdtn -> привет и исполнять эту команду
# True или False
NEED_CONVERT = True
# Черный список пользователей (писать id аккаунтов вк через запятую)
BLACKLIST = (0, 1337)
APP_ID = 5668099  # ID приложения, через которое бот будет авторизовываться
SCOPE = 140489887  # https://vk.com/dev/permissions